# .NET
*.exe
*.dll
*.pdb
*.cache
*.mdb
*.log
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/

# VS Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# JetBrains Rider
.idea/

# ASP.NET Core Secrets
secrets.json

# NuGet Packages
*.nupkg

# Database Files
*.mdf
*.ldf

# General Temporary Files
*.tmp
*.swp

# OS-specific Files
.DS_Store
Thumbs.db
