<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Define the target for logging to a file -->
		<target xsi:type="File" name="fileTarget" fileName="logs/${shortdate}.log" layout="${longdate}|${level:uppercase=true}|${message}${exception:format=tostring}" />

		<!-- Define the target for logging to the console -->
		<target xsi:type="Console" name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${message}${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Define logging rules -->
		<logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
	</rules>
</nlog>
